{% extends "base.html" %}

{% block main %}

<div class="container pt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <h1>Disease Prediction</h1>
            <form action="result" id="post-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="age">Age (years)</label>
                    <input type="number" step="1" class="form-control" id="age" name="age" placeholder="years" required>
                </div>
                <div class="form-group">
                    <label for="race_group">Race Group</label>
                    <input type="number" min="1" max="6"  step="1" class="form-control" name="race_group" id="race_group" placeholder="1 = Non-Hispanic white, 2 = Non-Hispanic black, 3 = Asian/Pacific Islander, 4 = Native American, 5 = Hispanic, 6 = Other/mixed" required>
                </div>
                <div class="form-group">
                    <label for="first_degree_hx">First Degree Hx</label>
                    <input type="number" min="0" max="1"  step="1" class="form-control" name="first_degree_hx" id="first_degree_hx" placeholder="having relatives with a history of breast cancer (0 - No, 1 -Yes)" required>
                </div>
                <div class="form-group">
                    <label for="current_hrt">Current Hrt</label>
                    <input type="number" min="0" max="1"  step="1" class="form-control" name="current_hrt" id="current_hrt" placeholder="(1 - yes, 0 -no)" required>
                </div>
                <div class="form-group">
                    <label for="menopaus">Menopause</label>
                    <input type="number" min="1" max="3"  step="1" class="form-control" name="menopaus" id="menopaus" placeholder="(1 = Pre- or peri-menopausal, 2 = Post-menopausal, 3 = Surgical menopause)" required>
                </div>
                <div class="form-group">
                    <label for="bmi">BMI</label>
                    <input type="number" step="1" class="form-control" name="bmi" id="bmi" placeholder="BMI" required>
                </div>
                <div class="form-group">
                    <label for="biophx">Biophx</label>
                    <input type="number" min="0" max="1" step="1" class="form-control" name="biophx" id="biophx" placeholder="Biophx" required>
                </div>
                <input class="btn btn-primary btn-lg btn-block" type="submit" value="result">
            </form>
        </div>
    </div>
</div>

{% endblock %}